<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AnalizerClassLibraryUnitTests.Properties.Settings.lab1ConnectionString"
            connectionString="Data Source=UKRAINEZ;Initial Catalog=lab1;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>